<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>

    <!-- BEGIN USER CREDENTIALS SETTINGS -->
    <add key="SvnUserName" value="I.Ivanov" />
    <add key="SvnUserPassword" value="*****" />
    <!-- END USER CREDENTIALS SETTINGS -->

    <!-- BEGIN USER ENV SETTINGS -->
    <add key="Packages" value="*" />
    <add key="DBUnitTestsPackages" value="*" />
    <add key="CSUnitTestsProjects" value="*" />
    <add key="ProjectsPath" value="C:\Projects\AutoCheckout" />
    <add key="SharedDirectoryPath" value="\\User\Share" />
    <add key="MSSSQLConnectionString" value="Data Source = localhost; Initial Catalog = ##dbname##; Persist Security Info = True; MultipleActiveResultSets = True; Integrated Security = SSPI; Pooling = true; Max Pool Size = 100; Async = true; Connection Timeout = 500" />
    <add key="RedisConnectionString" value="host=localhost;db=##dbname##;port=6379;maxReadPoolSize=25;maxWritePoolSize=25" />
    <!-- END USER ENV SETTINGS -->

    <!-- BEGIN SYSTEM SETTINGS -->
    <add key="DatabaseNamePattern" value="DEV_##username##_##projectname##" />
    <add key="ClearProjectDirectory" value="true" />
    <add key="ClearSvnAuthenticationCache" value="false" />
    <add key="UpdateWorkspace" value="true" />
    <add key="BuildWorkspace" value="true" />
    <add key="TeamCityBuildsConfigurationUrl" value="/guestAuth/app/rest/builds/?locator=buildType:BuildProduct,status:SUCCESS,state:finished,branch:/trunk,count:20,start:{0},personal:false" />
    <!-- END SYSTEM SETTINGS -->

    <!-- BEGIN PATH SETTINGS -->
    <add key="DfsBuildsDirectoryPath" value="\\dfs\build" />
    <add key="InfrastructureConsolePath" value="http://infr-path" />
    <add key="UnitTestsPath" value="" />
    <add key="TSqltPath" value="" />
    <add key="CorePath" value="http://core-path" />
    <add key="PackageStorePath" value="http://package-store" />
    <add key="TeamCityUrl" value="http://TeamCityUrl" />
    <!-- END PATH SETTINGS -->

  </appSettings>
</configuration>